.prof__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 50px;
    
}

.prof__projects h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

.prof__projects-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 84px;
    padding: 2rem 6rem;
    background: var(--color-box);
    max-width: 100%;
}

@media screen and (max-width: 1050px) {
    .prof__projects-container {
        display: flex;
        flex-direction: column;
    }

    .prof__projects h1 { 
        font-size: 36px;
        line-height: 60px;
    }
    
}

@media screen and (max-width: 650px) {
    .prof__projects-container {
        display: flex;
        flex-direction: column;
    }

    .prof__projects h1 { 
        font-size: 32px;
        line-height: 56px;
    }
}

@media screen and (max-width: 490px) {
    .prof__projects-container {
        display: flex;
        flex-direction: column;
    }
    .prof__projects h1 { 
        font-size: 28px;
        line-height: 50px;
    }

}