@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;

  --gradient-text: linear-gradient(300deg, rgba(54, 54, 54, 1) 0%, rgb(73, 73, 73) 50%, rgba(20, 20, 20, 1) 100%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: rgba(236, 238, 242, 0.5);
  --color-box: radial-gradient(54.75% 55.14% at 43.28% 42.57%, rgba(127, 145, 162, 0.075) 55.82%, rgba(215, 219, 227, 0.075) 100%), rgba(236, 238, 242, 0.1);
  --color-text: rgba(52, 52, 52, 0.5);
  --color-mobile: rgba(236, 238, 242, 1);
}